.cv-main-display{
    margin: auto;
    width: 800px;

}
.cv-main-menu{
    position: fixed;
    top:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.cv-main-links{
    background-color:#1f6b66;   
    height: 5em;
    width: 400%;
    margin: 30%;
    text-align: center;
    list-style: none;
}

.cv-tec-link-move, .cv-edu-link-move, .cv-exp-link-move{
    background-color:#1f6b66;   
    height: 5em;
    width: 900px;
    text-align: center;
    margin: 5em;    
    margin-bottom: 3em;
}
/* 
.cv-edu-link-move{
    width: 1000px;
}

.cv-exp-link-move{
    width: 1100px;
} */


.cv-main-links>h2{
    margin: 0;
 
}

.cv-tec-link-move, .cv-edu-link-move , .cv-exp-link-move {  
    position: relative;
    animation: tecLinkMove 0.6s linear forwards;
    line-height: 5;   
}

@keyframes tecLinkMove {
    from {    max-width: 50%;  left: 0%; }
    to {   max-width:20% ;  left: -11.7%;  }
  }

.cv-main-links:hover{
    cursor: pointer;
}



.cv-main-links>span{
    position: relative;
    top: 35.5px;
}

.cv-main-display-move{
    position: relative;
    animation: mainDisplayMove 0.6s linear forwards;
    
}

@keyframes mainDisplayMove{
    from { top: 5em; }
    to { top : -2em; }
}

@media (max-width: 600px){
    .cv-main-nav{
        display: flex;
        flex-direction: row;
        position: relative;
        top: 10em;
        margin-left: -1%;;
       
        }

    .cv-main-links {
        margin: 1em;
    }
}
