body {
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("../images/self.jpg"); */
  background-color: rgb(180, 196, 154);
  background-size:cover;  
  display: flex;
  justify-content: center;
  /* align-items: center;
  height: 100%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;
  height: 500px;  
  align-items: center;
  flex-direction: column;
 
}
.myImage {
    width: 15%;
    height: 10%;
    border-radius: 50%;
}

header{
    
    background-color: cadetblue;
    /* display: flex; */
    
}

.HamburgerIcon{
  display:inline-block; 
  
  
}

aside{
  display: flex;
  width: 20%;
  flex-direction: column;
  background-color: dimgray;
}

.side-menu-item{
  margin: 2em;
}

.side-menu-main-display-container{
  display: flex;  
  
}
.main-display{
  display: flex;
  width: 100%;
  background-color: dodgerblue;
}