.master-head{
    text-align: center;
    margin-bottom: 50px;
}

#iframe-wrapper{
    display: inline-flex;
    flex-direction: row-reverse;
    position: fixed;
    top:100px;
    z-index: 1000;
    
    
}

#iframe-wrapper > .MuiSvgIcon-root {
   /* justify-content: centergit ; */
}

#dispaly-master{
    border: none;
    border-radius: 5px;
   

}