body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(47, 47, 47);
  background-size:cover;  
  color:#CACACA;
  font-size:larger;
  word-spacing:5px;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;
  height: 500px;  
  align-items: center;
  flex-direction: column  ;
 
}

.home-button{
  position: fixed;  
  width: 5%;
  left:20px;
  top:4%;  
  background-color: transparent;
}

.home-button:hover{
  cursor: pointer;
}

.HamburgerIcon{
  position: fixed;
  top: 4%; 
  right: 10px;
  z-index: 2000;
  background-color: transparent  
}


.intro-text-container{
  display: flex;
  float:right !important;
  flex-direction: column; 
  height: 500px;
  justify-content: center;
  color: #CACACA;
  align-items: center;
}

.my-name{
  font-size: 3em;
}

.my-intro{
  font-size: 2em;
  
}

.porfolio-col{
  text-align: center;
}

.MuiSvgIcon-root {
  margin-top: -30px;
  cursor: pointer;
  /* font-size: 8rem !important; */
}
/* .go-down-arrow{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 25px;  
  color: #CACACA;
  align-items: center;
}

.go-down-arrow>div>p{
  position: relative;
  left: -23px;
} */


.go-down-arrow-1, .go-down-arrow-2 {
    width: 40px;
    height: 2px;   
    background-color:#7a7a7a;
    margin: -1px;
}

  .go-down-arrow-1{
    position: relative;
    left:19px;
    transform: rotate(160deg);
  }

  .go-down-arrow-2{
    position: relative;
    left:-19px;
    transform: rotate(-160deg);
  }

  .go-down-arrow:hover{
    transform:translate()
  }

@media (max-width: 600px){  
.intro-text-container { 
  font-size: x-small;
 }     
}