.myImage-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 9.2%
}

.my-description-wrapper{
    margin-top: 7.5%;
}

.myImage{
    width: 30%;
    height: 10%;
    border-radius: 50%;
}

.about-me-row{
    margin: 4.5% 0 4.5% 0;
}

.social-media-icons{
  position: relative;
  top:20px;
    
} 